@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  perspective: 500px;
}

.txt::after {
  content: "_";
  /* display: relative; */
  display: inline-block;
  animation: identifier 1s infinite;

  /* width: 10px; */
  /* margin-top: -10px; */
  /* height: 10px; */
  /* top: 20px; */
  /* background-color: blue; */
}

.ps {
  animation: psp 1s forwards;
}

@keyframes identifier {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes psp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.rot {
  transform-origin: top left;
  transform: rotate(90deg);
  position: relative;
  left: 105%;
}

.icons {
  position: relative;
  top: 10%;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.1;
  }
  90% {
    opacity: 1;
  }
}
.disp {
  animation: flash 1s;
  animation-iteration-count: 3;
}
/* disp  */
