@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  perspective: 500px;
}

.txt::after {
  content: "_";
  /* display: relative; */
  display: inline-block;
  animation: identifier 1s infinite;

  /* width: 10px; */
  /* margin-top: -10px; */
  /* height: 10px; */
  /* top: 20px; */
  /* background-color: blue; */
}

.ps {
  animation: psp 1s forwards;
}

@keyframes identifier {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes psp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.rot {
  transform-origin: top left;
  transform: rotate(90deg);
  position: relative;
  left: 105%;
}

.icons {
  position: relative;
  top: 10%;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.1;
  }
  90% {
    opacity: 1;
  }
}
.disp {
  animation: flash 1s;
  animation-iteration-count: 3;
}
/* disp  */

.dot {

  background: rgba(54, 76, 110, 0.582);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.box {
  /* From https://css.glass */
background: rgba(37, 37, 37, 0.76);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(5.1px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.parental {
  transform: scale(1.5);
  width: 300px;
  height: 190px;
  background-color: transparent;
  perspective: 1000;
}

.outer {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  width: 100%;
  height: 100%;
}

.front,.back {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  
}

.back {
  /* background-color: aqua; */
  background: rgba(37, 37, 37, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transform: rotateY(180deg);
}

.front {
  /* background-color: blue; */
  
}

.parental:hover .outer{
  transform: rotateY(180deg);
}